[[headers]]
  for = "/*"
  [headers.values]
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"
    Content-Security-Policy = "default-src 'self'; script-src 'self' https://cdn.gpteng.co; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' https://i.ibb.co data:; font-src 'self' https://fonts.gstatic.com; connect-src 'self' https://healthbridge.balazskis.com; frame-src https://docs.google.com https://react-ai-interview.netlify.app https://www.youtube.com https://emotlee.com https://healthbridgesolutions.netlify.app; object-src 'none'; base-uri 'none'; form-action 'self'; upgrade-insecure-requests"
    Permissions-Policy = "geolocation=(), camera=(), microphone=(), fullscreen=(self)"
    Set-Cookie = "__Host-session=abc123; Path=/; Secure; HttpOnly; SameSite=Strict"